@using DnD_Companion_blazor.Models

<MudGrid Spacing="2">
    @foreach (var stat in Stats.GetStatProperties())
    {
        <MudItem xs="4">
            <div class="font-bold  text-white p-4 py-2 rounded-lg shadow-lg text-center border-primary-darker border border-4">
                <h3 class="text-sm">@stat.Name</h3>
                <div class="text-3xl my-2 p-2 py-0 border rounded">@stat.Stat.ModifierString</div>
                <PopupInput T="int" Value="@stat.Stat.Value" ValueChanged="@(i => ValueChanged(stat, i))" Label="Value" InputType="InputType.Number" Class="text-xl text-center bg-gray-900 rounded-[100%] w-14 h-8 border-primary border border-[3px] mx-auto flex justify-center items-center">
                    @stat.Stat.Value
                </PopupInput>
            </div>
        </MudItem>
    }
</MudGrid>

@code {
    private Stats _stats = new Stats();

    [Parameter]
    public Stats Stats
    {
        get => _stats;
        set
        {
            if (_stats != value)
            {
                _stats = value;
                StatsChanged.InvokeAsync(_stats);
            }
        }
    }

    [Parameter] public EventCallback<Stats> StatsChanged { get; set; }

    private void ValueChanged(StatIdentifier statIdentifier, int obj)
    {
        Stats[statIdentifier.Name].Value = obj;
        StatsChanged.InvokeAsync(_stats);
    }

}